################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Enterprise/ThirdParty/EntLib50Src/Blocks/Caching/Tests/Cryptography.Tests/obj
/Enterprise/ThirdParty/EntLib50Src/Blocks/Caching/Tests/Cryptography.Configuration.Manageability.Tests/obj
/Enterprise/ThirdParty/EntLib50Src/Blocks/Caching/Tests/Configuration.Manageability.Tests/obj
/Enterprise/ThirdParty/EntLib50Src/Blocks/Caching/Tests/Caching.TestSupport/obj
/Enterprise/ThirdParty/EntLib50Src/Blocks/Caching/Tests/Caching.Tests/obj
/Enterprise/ThirdParty/EntLib50Src/Blocks/Caching/Src/Database/obj
/Enterprise/ThirdParty/EntLib50Src/Blocks/Caching/Src/Cryptography/obj
/Enterprise/ThirdParty/EntLib50Src/Blocks/Caching/Src/Caching/obj
/Enterprise/Applications/VendorDashboard/VendorDashboard.Tests/obj
/Enterprise/Applications/VendorDashboard/VendorDashboard/obj
/Enterprise/Applications/VendorDashboard/VendorDashboard/bin
/Enterprise/Applications/ClientDashboard/ClientDashboard.Tests/obj
/Enterprise/Applications/ClientDashboard/ClientDashboard/obj
/Enterprise/Applications/ClientDashboard/ClientDashboard/bin
/Enterprise/.vs
/DALServices/ViewModels/obj
/DALServices/ViewModelMapper.Tests/obj
/DALServices/ViewModelMapper/obj
/DALServices/VendorServices.Tests/obj
/DALServices/VendorServices/obj
/DALServices/NotificationServices.Tests/obj
/DALServices/NotificationServices/obj
/DALServices/InternalServices.Tests/obj
/DALServices/InternalServices/obj
/DALServices/DomainModels/obj
/DALServices/DAL.Test/obj
/DALServices/DAL/obj
/DALServices/ClientServices.Tests/obj
/DALServices/ClientServices/obj
/DALServices/BusinessLogic.Tests/obj
/DALServices/BusinessLogic/obj
/Barbados/Services/VendorServices.Tests/obj
/Barbados/Services/VendorServices/obj
/Barbados/Services/NotificationServices.Tests/obj
/Barbados/Services/NotificationServices/obj
/Barbados/Services/InternalServices.Tests/obj
/Barbados/Services/InternalServices/obj
/Barbados/Services/ClientService.Test/obj
/Barbados/Services/AdministrationServices.Tests/obj
/Barbados/Services/AdministrationServices/obj
/Barbados/DALServices/DAL.Test/obj
/Barbados/DALServices/DAL/obj
/Barbados/Core/ViewModels/obj
/Barbados/Core/ViewModelMapper.Tests/obj
/Barbados/Core/ViewModelMapper/obj
/Barbados/Core/DomainModels/obj
/Barbados/Applications/MVC/VendorDashboard/VendorDashboard.Tests/obj
/Barbados/Applications/MVC/VendorDashboard/VendorDashboard/obj
/Barbados/Applications/MVC/ClientDashboard/ClientDashboard.Tests/obj
/Barbados/Applications/MVC/ClientDashboard/ClientDashboard/obj
/.vs
/Enterprise/ThirdParty/EntLib50Src/Blocks/.vs
/Enterprise/ThirdParty/EntLib50Src/Blocks/bin/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Common/Src/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/ExceptionHandling/Src/WCF/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/ExceptionHandling/Src/Logging/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/ExceptionHandling/Src/ExceptionHandling/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Data/Src/Data/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Logging/Src/DatabaseTraceListener/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Logging/Src/Logging/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Logging/Src/MsmqDistributor/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Data/Src/SqlCe/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Security/Src/CachingStore/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Security/Src/Security/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Validation/Src/Validation.WinForms/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Validation/Src/Validation.WCF/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Validation/Src/Validation.AspNet/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Validation/Src/Validation/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Configuration/Src/EnvironmentalOverrides.Console/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Configuration/Src/EnvironmentalOverrides/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Configuration/Src/Design/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Configuration/Src/Console/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/Security.Cryptography/Src/Cryptography/obj/Debug
/Enterprise/ThirdParty/EntLib50Src/Blocks/PolicyInjection/Src/PolicyInjection/obj/Debug
/Enterprise/Applications/ClientDashboard/ClientDashboard/ClientDashboard.csproj.user
*.user
